@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Handlee&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

 body {

	font-family: 'Handlee', cursive;
	font-size: 18px;
    margin: 0px;
 }
h1 {
	font-family: 'Amatic SC', cursive;
 	font-size: 35px;
} 
h2, h3, {
 	font-family: 'Amatic SC', cursive;
 	font-size: 25px;
 }

 a {
 	text-decoration: none;
 }